.wrapper {
  flex-direction: column;
  background-color: var(--white);
  display: flex;
  margin-bottom: var(--spacing-sm);
  height: 300px;
  padding: var(--spacing-sm);
}

.image {
  height: 150px;
  overflow: hidden;
}

.wrapper img {
  max-width: 100%;
}

.header {
  display: flex;
  margin-bottom: var(--spacing-sm);
  justify-content: space-between;
}

.content {
  display: flex;
  margin-bottom: var(--spacing-sm);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}